body {
    background-color: var(--dark);
    background-image: url("../Images/weather2.jpeg");
    background-size: cover;
    height: 100vh;
    
}

/*color chart*/
:root {
    --dark-blue: #3d5a80;
    --medium-blue: #98c1d9;
    --ligh-blue: #e0fbfc;
    --orange: #ee6c4d;
    --dark: #293241;
   
}

.header{
    background-color: var(--dark-blue);
    color: var(--ligh-blue);
}



.searchbox{
    background-color: var(--ligh-blue);
    opacity: 0.9;
    color: var(--dark);
}

.display{
    background-color: var(--medium-blue);
    opacity: 0.9;
    color: var(--dark);
}

.card-header, .card-footer{
    background-color: var(--orange);
    color: var(--ligh-blue);
}

.card{
    background-color: var(--ligh-blue);
    padding: 0;
    margin: 0;
}

.card-body{
    color: var(--dark-blue);
}

.city{
    background-color: var(--medium-blue);
    color: var(--dark);
    border-radius: 3px;
    text-align: center;
}

.button{
    background-color: var(--orange);
    color: var(--ligh-blue);
    border-radius: 5px;
    border: none;
    padding: 0 15px;
}

.input-box{
    border-radius: 3px;
}

.todaysdate, h2, h3{
    color: var(--ligh-blue);
    font-size: 25px;
    font-weight: bold;
}

h5{
    color: var(--orange);
    font-weight: bold;
}